<div class="nin-h-screen
min-w-screen
bg-gradient-to-b
from-gray-900
to-blue-900">

<div class="header pt-20">
<h1 class="text-center text-6xl text-teal-400 font-extrabold">
    Tic-<span class-text-yellow-300>Tac</span>-Toe
</h1>    
<!--Display the player name-->
<h1 class="text-center text-orang-600 text-4xl mt-10 font-bold" 
*ngIf="!gameService.winner"
[ngClass]="{'text-teal-300':gameService.activePlayer == '0'}">
    {{gameService.activePlayer}}'s TURN
</h1>
<!--Winner Text-->
<h1 class="text-center text-red-500 mt-10 text-4xl font-semibold" *ngIf="gameService.winner">
    😊{{gameService.activePlayer}} WON 👍
</h1>
<!--reset the Game-->
<button class="bg-purple-400
hover:bg-yellow-400
text-dark
font-bold
py-2
px-4
rounded
mx-auto
block
mt-5"
*ngIf="gameService.gameOver"
(click)="resetGame()"> RESET </button>
</div>
<app-board></app-board>
</div>

