<div class="container-fluid footer mt-5">
    <div class="row">
        <!--name-->
        <div class="col-lg-6 mt-3 mb-3">
            <a routerLink=""><h1>DemoKitchen</h1></a>
            <p>GOOD FOOD, GOOD EAT</p>
        </div>
        <!--Nav-->

        <div class="col-lg-4 mt-3 mb-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              
            <a routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
            <a routerLink="menu" routerLinkActive="active-link">Menu</a>
            <a routerLink="about" routerLinkActive="active-link">About</a>
            <a routerLink="contact" routerLinkActive="active-link">Contact</a>
        </button>
        </div>
        <!--SocialMedia-->
        <div class="colo-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>

    </div>
</div>
