<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form class="col-lg-7" action="" [formGroup]="contactForm">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2" >
                <input type="text" class="form-control" placeholder="Enter First Name" formControlName="firstname">
            </div>
            <div *ngIf="submitted && contactForm.controls.firstname.errors?.required"
                [ngStyle]="{'color': submitted && contactForm.controls.firstname.errors ? 'red': ''}">
                Please fill the details
            </div>
            <div *ngIf="submitted && contactForm.controls.firstname.errors?.minlength"
                [ngStyle]="{'color': submitted && contactForm.controls.firstname.errors?.minlength ? 'red': ''}">
                First Name should be more than 4 characters
            </div>
            <div *ngIf="submitted && contactForm.controls.firstname.errors?.pattern"
                [ngStyle]="{'color': submitted && contactForm.controls.firstname.errors?.pattern ? 'red': ''}">
                First Name should be in alphabets
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Last Name" formControlName="lastname">
            </div>
            <div class="col-lg-6 mt-2 mb-2 form-control" *ngIf="submitted && contactForm.controls.lastname.errors?.required"
            [ngStyle]="{'color': submitted && contactForm.controls.lastname.errors ? 'red': ''}">
            Please fill the details
            </div>
            <div *ngIf="submitted && contactForm.controls.lastname.errors?.minlength"
            [ngStyle]="{'color': submitted && contactForm.controls.lastname.errors?.minlength ? 'red': ''}">
            Last Name should be more than 3 characters
            </div>
            <div *ngIf="submitted && contactForm.controls.lastname.errors?.pattern"
            [ngStyle]="{'color': submitted && contactForm.controls.lastname.errors?.pattern ? 'red': ''}">
            Last Name should be more than 3 characters
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="number" class="form-control" placeholder="Enter Mobile Number" formControlName="phonenumber">
            </div>
            <div>
            <div *ngIf="submitted && contactForm.controls.phonenumber.errors?.required"
            [ngStyle]="{'color':submitted && contactForm.controls.phonenumber.errors?.required ? 'red': ''}">
            Phone Number required
            </div>
            <div *ngIf="submitted && contactForm.controls.phonenumber.errors?.minlength"
            [ngStyle]="{'color':submitted && contactForm.controls.phonenumber.errors?.minlength ? 'red':''}">
            Phone Number should be 10 digits
            </div>
            <div *ngIf="submitted && contactForm.controls.phonenumber.errors?.pattern"
            [ngStyle]="{'color':submitted && contactForm.controls.phonenumber.errors?.pattern ? 'red':''}">
            Phone Number should have 0-9 numbers
            </div>
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="email" class="form-control" placeholder="Enter Email ID" formControlName="email">
            </div>
            <div *ngIf="submitted && contactForm.controls.email.errors?.required"
            [ngStyle]="{'color':submitted && contactForm.controls.email.errors?.required ? 'red': ''}">
            Email required
            </div>
            <div *ngIf="submitted && contactForm.controls.email.errors?.pattern"
            [ngStyle]="{'color':submitted && contactForm.controls.email.errors?.pattern ? 'red':''}">
            Email should be in correct pattern like xyz@fmail.com
            </div>

            <div class="col-lg-12">
                <button class="btn btn-md btn-dark " (click)="formData()">Submit</button>
            </div>
        </div>
    </form>
</div>
